@use 'assets/styles/include-media.scss' as *;

.container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 2.625rem 4rem;
  background: var(--c-violet) url(/assets/images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;

  @include media('<=1024px') {
    gap: 1.25rem;
    padding: 2.125rem 3.25rem;
  }

  @include media('<=820px') {
    gap: 1rem;
    padding: 1.875rem 2.5rem;
  }

  @include media('<=633px') {
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    background: var(--c-violet) url(/assets/images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-size: 237px;
    background-size: 70%;
    background-position: top right;
  }

  .input_group {
    flex-grow: 1;
    position: relative;
    display: flex;

    @include media('<=633px') {
      flex-direction: column;
    }

    input[type=url] {
      display: block;
      width: 100%;
      padding: 0.57rem 1.75em;
      border: 2px solid transparent;
      border-radius: 0.5em;
      font-family: var(--ff-primary);
      font-size: clamp(0.875rem, 2vw, 1.125rem);

      &::placeholder {
        font-size: clamp(0.875rem, 2vw, 1.125rem);
        color: var(--c-neutral-400);
        font-weight: 500;
      }

      &.invalid {
        color: var(--c-red-accent);
        border-color: var(--c-red);

        &::placeholder {
          color: var(--c-red-accent);
        }
      }

      @include media('<=633px') {
        padding: 0.75rem 1.75em;
        font-size: 1rem;

        &::placeholder {
          font-size: 1rem;
        }
      }

      @include media('<=414px') {
        padding: 0.57rem 1.05em;
      }
    }

    .error_msg {
      position: absolute;
      top: calc(100% + 3px);
      color: var(--c-red);
      font-style: italic;
      font-size: 0.875rem;

      @include media('<=633px') {
        position: relative;
        display: inline-flex;
      }
    }
  }


  button[type=submit] {
    font-size: clamp(0.875rem, 2vw, 1.25rem);

    @include media('<=633px') {
      font-size: 1rem;
    }
  }
}